<!DOCTYPE html>
{% extends "first_app/base.html" %}

{% block head_block %}

<h1>{{ text_1 }}</h1>
<a href="/form/">Add New</a>
<table border="1">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Instrument</th>
  </tr>

  {% for row in musician %}

  <tr>
    <td> {{ row.first_name }} </td>
    <td> {{ row.last_name }} </td>
    <td> {{ row.instrument }} </td>
  </tr>

  {% endfor %}

</table>

<hr>
<h1>{{ text_1 }}</h1>
<a href="/form/">Add New</a>
<table border="1">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Instrument</th>
  </tr>

  {% for row in musician %}

  <tr>
    <td> {{ row.first_name }} </td>
    <td> {{ row.last_name }} </td>
    <td> {{ row.instrument }} </td>
  </tr>

  {% endfor %}

</table>

<!-- <h2>{{ Sample_text.release_date|date:"D, d m y "}}</h2> -->


{% endblock %}
{% load static %}




</html>
